
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<div style="height: calc(100vh - 123px); text-align: center;">
    <h1>Homepage</h1>
    <h4>Made with bootstrap!</h4>
    <p>
        Content will be here.
    </p>
</div>



