@model Member_Organisations.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<div>
    <ul>
        @foreach (var item in Model.members)
        {
            <li>@item.FName</li>
        }
    </ul>
    <ul>
        @foreach (var item in Model.orgs)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>