@model Member_Organisations.ViewModels.RegisterOrganisationViewModel
@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    Page.Title = "Register Organisation";
}

<h1>Register Organisation</h1>
<form name="registerForm" method="post">
    @Html.LabelFor(m=>m.org.Name,"Organisation Name: ")
    @Html.EditorFor(m=>m.org.Name)<br>
    <button type="submit">Registrera</button>
</form>
<br />
