@{
    Layout = "~/Views/Shared/_RegisterLayout.cshtml";
    Page.Title = "Register Member";
}

<h1>Register member</h1>
<div id="register" class="wrapper">
    <div class="content">
        <form name="registerForm">
            Förnamn: <input type="text" name="FirstName" value="John"/> <br />
            Efternamn: <input type="text" name="LastName" value="Doe" /> <br />
            Organisation:
                <select name="Organisation">
                    <option value="none">Choose an organisation</option>
                    <option value="Org1">Organisation 1</option>
                    <option value="Org2">Organisation 2</option>
                </select> <br />
            Adress: <input type="text" name="Address" value="My Street 123" /> <br />
            Phone Number: <input type="text" name="PhoneNum" value="01234567" />
            <br /><br />
        </form>
    </div>
</div>